In [6]:
%sql
CREATE SCHEMA main.whiskey;

DataFrame[]

In [7]:
%sql
CREATE TABLE main.whiskey.whiskeys (
    whiskey_name STRING
);

DataFrame[]

In [9]:
%sql
INSERT INTO main.whiskey.whiskeys VALUES ('Lagavulin 16');

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]